#Определяем кодировку для файлов как utf-8
AddDefaultCharset utf-8

#Включаем модуль конфигураций
RewriteEngine on
 
#Создаем правило для директивы RewriteRule которое будет применятся только в том случае, если запросу не соответствует физически существующий файл
#Выполняем проверку на то, что это не файл
RewriteCond %{REQUEST_FILENAME} !-f 

#Создаем правило для директивы RewriteRule которое будет применятся только в том случае, если запросу не соответствует физически существующая директория (папка)
#Выполняем проверку на то, что это не директория (папка)
RewriteCond %{REQUEST_FILENAME} !-d 

#RewriteCond %{REQUEST_URI} !^/public/

#После чего перенаправляем запрос на файл: index.php
RewriteRule ^(.*)$ index.php
